.review {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
  }
  .review > .blog {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    margin-top: 20px;
  }
  .review > .blog > div {
    border-radius: 10px;
    word-wrap: wrap;
    text-align: justify;
    padding: 20px;
  }
  .review > h2 {
    width: 40%;
    margin: auto;
  }
  .review > div:nth-child(3) {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  .rating {
    margin-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .rating > img {
    display: block;
    width: 10%;
  }
  #integration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px;
    justify-content: center;
    margin-top: 100px;
    background-color: #f3f3f3;
  }
  #integration > div {
    margin-top: 40px;
  }
  .app {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .app img {
    width: 20%;
  }
  .pricing {
    text-align: center;
  }

  .plans {
    width: 80%;
    margin: auto;
    
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    gap: 20px;
  }
  .plans > div {
    
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }
  .mybtn {
    border-radius: 30px;
    background-color: #25cf60;
    padding: 12px;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
    color: #f3f3f3;
    border: none;
  }
  ul {
    text-align: justify;
  }
  .plans > div > p {
    color: grey;
  }
  .colorr{
    color: #25cf60;
  }
  .white{
    color: #f3f3f3;
  }
  .switch{
    width: 327px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }
  .switch>button{
    width: 160px;
    height: 60px;
    border-radius: 30px;
            

  }
  .switch>button:first-child{
    margin-right: -50px;
    opacity: 0.9;
    background-color:#25cf60;
  }
  .switch>button:nth-child(2){
    background-color: #25cf60;


  }
  .ybox{
    width: 80%;
    margin: auto;
    border-radius: 10px;
    background-color: #f7b801;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ybox>img{
    position:absolute;
    z-index: 1;
    display: block;
    margin: 100px 0 0 350px;

    
  }
  .accordion_one .panel-group {
    
    border: 1px solid #f1f1f1;
    margin-top:100px;
    
    
}

a:link {
    text-decoration: none
}

.accordion_one .panel {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 0px solid transparent;
    border-radius: 0;
    margin: 0;
}

.accordion_one .panel-default {
    border: 0;
}

.accordion-wrap .panel-heading {
    padding: 0px;
    border-radius: 0px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

.accordion_one .panel .panel-heading a.collapsed {
    color: #999999;
    display: block;
    padding: 12px 30px;
    border-top: 0px;
}

.accordion_one .panel .panel-heading a {
    display: block;
    padding: 12px 30px;
    background: #fff;
    color: #313131;
    border-bottom: 1px solid #f1f1f1;
}

.accordion-wrap .panel .panel-heading a {
    font-size: 14px;
}

.accordion_one .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: 0;
    padding-top: 0;
    padding: 25px 30px 30px 35px;
    background: #fff;
    color: #999999;
}

.img-accordion {
    width: 81px;
    float: left;
    margin-right: 15px;
    display: block;
}

.accordion_one .panel .panel-heading a.collapsed:after {
    content: "\2b";
    color: #999999;
    background: #f1f1f1;
}

.accordion_one .panel .panel-heading a:after, .accordion_one .panel .panel-heading a.collapsed:after {
    font-family: 'FontAwesome';
    font-size: 15px;
    width: 36px;
   
    line-height: 48px;
    text-align: center;
    background: #F1F1F1;
    float: left;
    margin-left: -31px;
    margin-top: -12px;
    margin-right: 15px;
}
.accordion_one .panel .panel-heading a:after {
    content: "\2212";
}

.accordion_one .panel .panel-heading a:after, .accordion_one .panel .panel-heading a.collapsed:after {
    font-family: 'FontAwesome';
    font-size: 15px;
    width: 36px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background: #F1F1F1;
    float: left;
    margin-left: -31px;
    margin-top: -12px;
    margin-right: 15px;
}
.col-sm-6{
  width: 80%;
  margin: auto;
  color: black;
}
.update{
 
  width: 100%;
  height: auto;
  background-color: #F1F1F1;
  margin: auto;
  display:flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
}
.update>div{
  display: flex;
  gap: 20px;
}
.update>div:nth-child(3){
  justify-content: space-evenly;

  


}
.update>div:nth-child(2){
  justify-content: space-between;
  width: 60%;
  margin: auto;
}
.update>div:nth-child(3)>div{
  width: 25%;

  


}
@media all and (min-width:768px) and (max-width:1024px){

.container-fluid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  border: 2px solid black;
}










}


  